<div class="genre container">
	<div class="row">
		<div id="genre_new" class="genre__form col-md-6 offset-6">
			<%= render "new", addgenre: @addgenre %>
		</div>
	</div>

	<div class="row">
		<div class="genre_index col-md-6 offset-6">
			<h3>ジャンル一覧</h3>
				<% if current_user.genres.count == 0 %>
				<p>ジャンルを追加してください</p>
				<% end %>
				<% @genres.each do |genre| %>
					<p id="genre_index__list_<%= genre.id %>">
					  <%= render "edit", genre: genre %>
					</p>
				<% end %>
		</div>
	</div>
</div>
