<div class="container">
	<div class="row">
		<div class="how col-10 offset-1">
			<div class="how__title text-center mb-4">
				<h1>Bodepositの使い方</h1>
			</div>
			<ul class="accordion">
				<li class="accordion__item mt-5">
					<h3 class="d-inline">１.カロリーを計算する</h3><span class="ml-5 plus">+</span>
					<div class="answer mt-4 text-left rounded shadow-lg p-5">
						<h5>マイページに移動します</h5>
						<h5>↓</h5>
						<h5><span class="btn btn-outline-success">マクロ計算</span>を押します</h5>
						<h5>↓</h5>
						<h5>画面右側に計算結果が表示されます</h5>
					</div>
				</li>
				<li class="accordion__item mt-5">
					<h3 class="d-inline">２.食材を登録する</h3><span class="ml-5 plus">+</span>
					<div class="answer mt-4 text-left rounded shadow-lg p-5">
						<h5>ページ上部の「<i class="fas fa-apple-alt">材料登録</i>」を押します</h5>
						<h5>↓</h5>
						<h5><strong class="border-bottom border-danger">材料のジャンルを登録後</strong>、食材を記入します</h5>
						<h5>（100g辺りで入力してください）</h5>
						<h5>↓</h5>
						<h5>ページ下部に登録食材一覧が表示されます</h5>
					</div>
				</li>
				<li class="accordion__item mt-5">
					<h3 class="d-inline">３.食材またはレシピを摂取する</h3><span class="ml-5 plus">+</span>
					<div class="answer mt-4 text-left rounded shadow-lg p-5">
						<h5>①レシピ詳細の<span class="btn btn-outline-success">この材料を摂取する</span>を押します</h5>
						<h5>②トップ画面で食材と数量を記入し<span class="btn btn-outline-success">摂取</span>を押します</h5>
						<h5>↓</h5>
						<h5>トップページ上部に目標摂取残カロリーと1日累計摂取カロリーが表示されます</h5>
						<h5 class="mt-5 border-bottom border-danger">０：００に摂取した情報はリセットされます</h5>
					</div>
				</li>
				<li class="accordion__item mt-5">
					<h3 class="d-inline">４.レシピを投稿する</h3><span class="ml-5 plus">+</span>
					<div class="answer mt-4 text-left rounded shadow-lg p-5">
						<h5 class="border-bottom border-danger mb-5">※レシピに使用する材料は予め登録しておくと便利です</h5>
						<h5>ページ上部の「<i class="fas fa-utensils">レシピを投稿する</i>」を押します</h5>
						<h5>※材料選択画面に遷移するとレシピが投稿されます</h5>
						<h5>↓</h5>
						<h5>レシピ名と調理手順を記入します</h5>
						<h5>↓</h5>
						<h5>レシピに使用する材料を選択しレシピに入れます</h5>
						<h5>↓</h5>
						<h5><span class="btn btn-outline-primary">レシピを確認する</span>を押すと投稿したレシピを確認できます</h5>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>