<% messages.each do |message| %>
	<div clsss="col-4 offset-8 justify-content-right">
		<%= message.question %>
	</div>
	<div class="col-4 offset-8 justify-content-left text-danger">
		<%= message.answer %>
	</div>
<% end %>