<div class="container">
	<div class="col-12 text-center mb-5">
		<h3><%= @recipe.name %>の編集</h3>
	</div>

<%= render "form", recipe: @recipe, url: recipe_path(@recipe.id), method: :patch, submit:"レシピを更新する" %>
</div>