<div class="container">
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<h3 class="unsub">退会確認</h3>
			<p>
				退会すると同じアカウントでログインできなくなります。<br>
				レシピ一覧はログインしなくても閲覧ができます。
			</p>
			<p>
				<strong>本当に退会しますか？</strong>
			</p>
			<div class="user_destroy">
				<span>
					<%= link_to "退会する", unsubscribe_user_path, method: :patch, class: "btn btn-danger" %>
				</span>
				<span>
					<%= link_to "キャンセル", user_path(current_user.id), class: "btn btn-success" %>
				</span>
			</div>
		</div>
	</div>
</div>
