<div class="container">
	<div class="row">
		<div class="row justify-content-center col-12">
			<h3 class="unsub">退会確認</h3>
		</div>

		<div class="row justify-content-center col-12">
			<p>
				退会すると同じアカウントでログインできなくなります。<br>
				レシピ一覧はログインしなくても閲覧ができます。
			</p>
		</div>

		<div class="row justify-content-center col-12">
			<strong>本当に退会しますか？</strong>
		</div>

		<div class="row justify-content-around col-12" style="margin-top: 30px;">
			<span>
				<%= link_to "退会する", unsubscribe_user_path, method: :patch, class: "btn btn-danger" %>
			</span>
			<span>
				<%= link_to "キャンセル", user_path(current_user.id), class: "btn btn-success" %>
			</span>
		</div>
	</div>
</div>
